<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mall4j.cloud.product.mapper.AttrMapper">
  <resultMap id="attrMap" type="com.mall4j.cloud.api.product.vo.AttrVO">
    <id column="attr_id" property="attrId" />
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="name" property="name"/>
    <result column="shop_id" property="shopId"/>
    <result column="desc" property="desc"/>
    <result column="search_type" property="searchType"/>
    <result column="attr_type" property="attrType"/>
    <result column="category_id" property="categoryId"/>
    <result column="category_name" property="categoryName"/>
    <result column="name_english" property="nameEnglish"/>
    <result column="standard" property="standard"/>
    <result column="standard_name" property="standardName"/>
    <result column="requirement" property="requirement"/>
    <result column="cycle" property="cycle"/>
    <result column="price" property="price"/>
  </resultMap>
  <sql id="Vo_Column_List">
    `attr_id`,`shop_id`,`create_time`,`update_time`,`name`,`desc`,`search_type`,`attr_type`,
    `category_id`,`category_name`,`name_english`,`standard`,`standard_name`,`requirement`,`cycle`,`price`
  </sql>
  <select id="list" resultMap="attrMap">

        select <include refid="Vo_Column_List"/> from attr
        <where>
          <if test="attr.name != null">
            and name = #{attr.name}
          </if>
          <if test="attr.searchType != null">
            and search_type = #{attr.searchType}
          </if>
          <if test="attr.categoryId != null">
            and category_id = #{attr.categoryId}
          </if>
          <if test="attr.attrType != null">
            and attr_type = #{attr.attrType}
          </if>
          <if test="attr.shopId != null">
            and shop_id = #{attr.shopId}
          </if>
        </where>
        limit #{page.begin}, #{page.size}
    order by attr_id desc
  </select>
  <select id="countAttr" resultType="java.lang.Long">
    select count(*) from attr
    <where>
        <if test="attr.name != null">
        and name = #{attr.name}
        </if>
        <if test="attr.searchType != null">
        and search_type = #{attr.searchType}
        </if>
      <if test="attr.categoryId != null">
        and category_id = #{attr.categoryId}
      </if>
        <if test="attr.attrType != null">
        and attr_type = #{attr.attrType}
        </if>
        <if test="attr.shopId != null">
        and shop_id = #{attr.shopId}
        </if>
    </where>
  </select>
  <select id="getByAttrId" resultMap="attrMap">
    SELECT * FROM attr

    WHERE a.attr_id = #{attrId}
  </select>
  <insert id="save" useGeneratedKeys="true" keyProperty="attrId">
    insert into attr (`name`,`desc`,`search_type`,`attr_type`,`shop_id`)
    values (#{attr.name},#{attr.desc},#{attr.searchType},#{attr.attrType},#{attr.shopId})
  </insert>
  <update id="update">
    update attr
    set
      <if test="attr.name != null">
        `name` = #{attr.name},
      </if>
      <if test="attr.desc != null">
        `desc` = #{attr.desc},
      </if>
      <if test="attr.searchType != null">
        `search_type` = #{attr.searchType},
      </if>
    update_time = NOW()
    where attr_id = #{attr.attrId}
  </update>
  <delete id="deleteById">
    delete from attr where attr_id = #{attrId};
  </delete>
</mapper>
